@using Data.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager NavManager
@inject ProtectedLocalStorage BrowserStorage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Desafio dotnet7</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clientes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listar clientes
            </NavLink>
        </div>
        @if(!string.IsNullOrEmpty(token))
        {
            <div class="nav-item px-3">
                <a href="" @onclick="sair" class="nav-link">
                    <span class="oi oi-exit" aria-hidden="true"></span> Sair
                </a>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? token { get;set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        token = await AdministradorServico.GetToken(BrowserStorage);
    }

    private async Task sair()
    {
        await BrowserStorage.DeleteAsync("admLogado");
        NavManager.NavigateTo("/login");
    }
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}