@page "/"

<PageTitle>Desafio de dotnet7</PageTitle>

<h1>Desafio de dotnet7</h1>
<p>Este é um código feito em Bazor no desafio 21 dias de dotnet7</p>

<p>Aproveite e bons estudos</p>

<p>
    Para ter acesso a gravação, acesse o site
    <a href="https://www.torneseumprogramador.com.br/aulas/dotnet_csharp" target="_blank">
        https://www.torneseumprogramador.com.br/aulas/dotnet_csharp
    </a>
</p>